# Important Requirements here.
telethon
# https://github.com/TeamUltroid/Telethon/archive/ultroid.zip
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
ApiNyaEr
youtube-dl
tgcrypto
youtube-search==2.1.0
pyrogram
ffmpeg
deep-translator
speedtest-cli
python-telegram-bot
emoji
tqdm
aiofiles~=24.1.0
APScheduler~=3.11.0
cachetools~=5.5.2
kurigram~=2.1.39
meval~=2.5
motor~=3.7.0
mutagen~=1.47.0
ntgcalls~=1.3.0
pillow~=11.1.0
psutil~=7.0.0
#py-yt-search~=0.2
py_tgcalls~=2.1.0
pycryptodome~=3.22.0
pydantic==2.11.0b2
PyTgCrypto~=1.2.9.2
python-dotenv~=1.0.1
pytdbot~=0.9.2.dev2
pytz~=2025.1
tdjson~=1.8.46
ujson~=5.10.0
yt-dlp~=2025.3.21

# Required only for Local Deploys
# ------------------------------------------------------ #

git+https://github.com/ufoptg/akipy.git
apscheduler
aiohttp
bs4
enhancer>=0.3.4
git+https://github.com/New-dev0/instagrapi.git@39df1b1#egg=instagrapi
git+https://github.com/buddhhu/img2html.git@c44170d#egg=img2html
heroku3
gitpython
google-api-python-client
htmlwebshot
lottie
lxml
numpy>=1.21.2
oauth2client
opencv-python-headless
pillow>=9.0.0
profanitydetector
psutil
pypdf2>=1.26.0
pytz
qrcode
requests
tabulate
telegraph
tgcrypto
youtube-search-python
yt-dlp
# -------------------------------------------------------#
